<p>This is the about view.</p>


<div>
    <h3>Loved Tracks</h3>
    <ul ng-show="lovedTracks.length > 0">
        <li ng-repeat="track in lovedTracks | limitTo : 10">
            <img ng-src="{{ track.image[0]['#text'] }}" /> {{ track.artist.name }} - {{ track.name }}
        </li>
    </ul>
</div>


<div>
    <h3>Most played</h3>
    <ul ng-show="mostPlayedTracks.length > 0">
        <li ng-repeat="track in mostPlayedTracks | orderBy: '-playcount' | limitTo: 20">
            <img ng-src="{{ track.image[0]['#text'] }}" /> <b>[{{ track.artist.name }}]</b> {{ track.name }} - <b>{{ track.playcount }}</b>
        </li>
    </ul>
</div>
